.island-icon {
  display: inline-block;
  width: var(--island-icon-width);
  height: var(--island-icon-height);
  overflow: hidden;
  vertical-align: middle;
  border-radius: var(--island-icon-radius);
}
